.formm{
  text-align: center;
  border: solid black;
  border-radius: 5px;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgb(215, 224, 224);
  margin-top: 3%;
  box-shadow: 5px 10px #888888;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top:10%;
}

.back{
  text-align: center;
}

.imgg{
  width:200px;
  margin-top: 60%;
}
.imgg2{
  width:400px;
  margin-top: 50%;
}